
### IntelliJ IDEA ###
.idea/
account-management/.idea/
account-query/.idea/
transaction-processor/.idea/
infrastructure/.idea/
m2m-banking-api/.idea/

### Account management ###
account-management/target/
account-management/!.mvn/wrapper/maven-wrapper.jar
account-management/!**/src/main/**/target/
account-management/!**/src/test/**/target/

### Account query ###
account-query/target/
account-query/!.mvn/wrapper/maven-wrapper.jar
account-query/!**/src/main/**/target/
account-query/!**/src/test/**/target/

### Transaction processor ###
transaction-processor/target/
transaction-processor/!.mvn/wrapper/maven-wrapper.jar
transaction-processor/!**/src/main/**/target/
transaction-processor/!**/src/test/**/target/

### Infrastructure ###
infrastructure/target/
infrastructure/!.mvn/wrapper/maven-wrapper.jar
infrastructure/!**/src/main/**/target/
infrastructure/!**/src/test/**/target/

### API ###
m2m-banking-api/account-management-api/target
m2m-banking-api/account-query-api/target
m2m-banking-api/transaction-api/target

### Auth client ###
client/target/
client/!**/src/main/**/target/
client/!**/src/test/**/target/